<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appbusters.robinpc.constitutionofindia">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.parts"
            android:label="@string/title_activity_parts"
            android:parentActivityName=".ui.ScrollingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.preamble"
            android:label="@string/title_activity_preamble"
            android:parentActivityName=".ui.ScrollingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.schedules"
            android:label="@string/title_activity_schedules"
            android:parentActivityName=".ui.ScrollingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.amendments"
            android:label="@string/title_activity_amendments"
            android:parentActivityName=".ui.ScrollingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part1"
            android:label="@string/title_activity_part1"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part2"
            android:label="@string/title_activity_part2"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part3"
            android:label="@string/title_activity_part3"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part4"
            android:label="@string/title_activity_part4"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part5"
            android:label="@string/title_activity_part5"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part6"
            android:label="@string/title_activity_part6"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part7"
            android:label="@string/title_activity_part7"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part8"
            android:label="@string/title_activity_part8"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part9"
            android:label="@string/title_activity_part9"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part10"
            android:label="@string/title_activity_part10"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part11"
            android:label="@string/title_activity_part11"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part12"
            android:label="@string/title_activity_part12"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part13"
            android:label="@string/title_activity_part13"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part14"
            android:label="@string/title_activity_part14"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part15"
            android:label="@string/title_activity_part15"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part16"
            android:label="@string/title_activity_part16"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part17"
            android:label="@string/title_activity_part17"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part18"
            android:label="@string/title_activity_part18"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part19"
            android:label="@string/title_activity_part19"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part20"
            android:label="@string/title_activity_part20"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part21"
            android:label="@string/title_activity_part21"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part22"
            android:label="@string/title_activity_part22"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part23"
            android:label="@string/title_activity_part23"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part24"
            android:label="@string/title_activity_part24"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part25"
            android:label="@string/title_activity_part25"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.all_parts.Part26"
            android:label="@string/title_activity_part26"
            android:parentActivityName=".ui.parts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.ABOUT"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme" />
        <activity android:name=".view.DetailSchedules" />
        <activity android:name=".view.SavedActivity"></activity>
    </application>

</manifest>